<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .carousel-inner {
            height: 50vh;
        }
        .carousel-caption{
            bottom: unset;
            top: 25%;
        }
    </style>

<title>Bungalow park</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/Inloggen.html">Inloggen</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link " href="../templates/Aanbod.html" tabindex="-1" >Aanbod Bungalo</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link " href="../templates/MijnOverzicht.html" tabindex="-1" >Mijn overzicht</a>
        </li>
  
  
        <li class="nav-item">
          <a class="nav-link " href="../templates/Registreren.html" tabindex="-1" >Registreren</a>
        </li>
  
      </ul>
    </div>
  </nav>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item w-100 active">
              <div class="carousel-caption d-none d-md-block">
                  <h1>Bungalowpark Zee en Duin </h1>
              </div>
            <img src="https://cdn.roompot.com/assets/imgs/vakantieparken/nederland/drenthe/bungalowpark-het-hart-van-drenthe/park-header/1196x490/2052953.jpg" class="d-block w-100" alt="...">
          </div>
  
      </div>

      <a = href="../templates/huisjes/4persoons"><img src="../pictures/huis4personen.png" href="../templates/huisjes/4persoons" height="200" width="200"class ="rounded float-start"></a>
      <img src="../pictures/huis6personen.png" href="" height="200" width="200"class ="rounded float-start">
      <img src="../pictures/huis8personen.jpg" href="" height="200" width="200"class ="rounded float-start">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>