{% extends "base.html" %}
{% block content %}


<div class="container">

    <!-- <div class="card mb-12" style="max-width: 540px;"> -->
    <div class="card mb-12" >
        <div class="row g-0">
          <div class="col-md-3">
            <img src="https://images.ctfassets.net/gxwgulxyxxy1/4J1luUndx2FU0RKJnkFFwB/1974f23ea4a85a22a7cee70da9b2d332/header_huisje_Nederland.jpg?fm=jpg&fl=progressive&w=250&h=180&fit=fill&q=25" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Het vierkante vakantiehuis</h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text"><small class="text-muted">Vakantiehuis - 8 persoons - 4 slaapkamers - 150 m² </small></p>
              <p class="card-text"><small class="text-muted">Vakantiehuis -  - 150 m² </small></p>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}