<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/Inloggen.html">Inloggen</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link " href="../templates/Aanbod.html" tabindex="-1" >Aanbod Bungalo</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="../templates/MijnOverzicht.html" tabindex="-1" >Mijn overzicht</a>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="../templates/Registreren.html" tabindex="-1" >Registreren</a>
      </li>

    </ul>
  </div>
</nav>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item w-100 active">
      <div class="carousel-caption d-none d-md-block">
          <h1>Bungalowpark Zee en Duin </h1>
      </div>
    <img src="https://cdn.roompot.com/assets/imgs/vakantieparken/nederland/drenthe/bungalowpark-het-hart-van-drenthe/park-header/1196x490/2052953.jpg" class="d-block w-100" alt="...">
  </div>

</div>
</div>

{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Bungalow park feest</h1>
    <!-- <p>Selecteer om te beginnen een item uit de navigatiebalk.</p> -->
</div>

<div class="container">

    <!-- <div class="card mb-12" style="max-width: 540px;"> -->
    <div class="card mb-12" >
        <div class="row g-0">
          <div class="col-md-3">
            <img src="https://images.ctfassets.net/gxwgulxyxxy1/4J1luUndx2FU0RKJnkFFwB/1974f23ea4a85a22a7cee70da9b2d332/header_huisje_Nederland.jpg?fm=jpg&fl=progressive&w=250&h=180&fit=fill&q=25" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Het vierkante vakantiehuis</h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text"><small class="text-muted">Vakantiehuis - 8 persoons - 4 slaapkamers - 150 m² </small></p>
              <p class="card-text"><small class="text-muted">Vakantiehuis -  - 150 m² </small></p>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}